/* about section */

.main-about {
  display: grid;
  grid-template: 0.1fr 0.8fr 1.1fr / 0.6fr 0.4fr;
}

.aboutMe {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: center;
  color: #ffffff;
  font-size: clamp(3.9rem, 7vw, 5rem);
  font-weight: 600;
}
.myPicture {
  padding: 10px;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myPicture img {
  border-radius: 48%;
  max-width: 85%;
  max-height: 85%;
  height: auto;
  /* box-shadow: 0 0 10px #8c52ff; */
  animation: glow 1.5s infinite alternate;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 10px #8c52ff;
  }
  100% {
    box-shadow: 0 0 10px #8c52ff, 0 0 25px #8c52ff, 0 0 40px #8c52ff;
  }
}
.aboutMeContent {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  font-size: 1.75rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0 5%;
}

@media (max-width: 495px) {
  .myPicture {
    padding: 10px 0 0 0;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
  .myPicture img {
    max-width: 50%;
    height: auto;
  }
  .aboutMeContent {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    padding-top: 20px;
  }
}
