/* home section */

.main-home {
  display: grid;
  grid-template: 60px 2fr 1fr 60px / 1fr 1fr 1fr 65px;
  position: relative;
}

.code-snippet2 {
  grid-column: 1 / 4;
  padding: 10px 0 0 10px;
  font-size: 20px;
  font-style: italic;
  opacity: 0.9;
}

.main-text {
  grid-column: 1 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: clamp(4.5rem, 5vw, 6.5rem);
  z-index: 1;
}
.web {
  margin-left: 5vw;
  align-self: flex-start;
}
.paragraph {
  grid-column: 1 / 4;
  font-size: 1.75rem;
  font-weight: 500;
  padding: 2% 38.5% 0 3.5%;
}

/* handles */

.handles {
  grid-row: 3 / 5;
  grid-column: 4 / 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.svg-link {
  z-index: 1;
  text-decoration: none;
  margin-bottom: 15px;
}
.svg-link img {
  width: 30px;
}
.vertical-line {
  height: 90px;
  border-right: 1px solid #8c52ff;
  border-left: 1px solid #8c52ff;
}

@media (max-width: 750px) {
  .paragraph {
    padding: 0% 6% 0 4%;
  }
}
@media (max-width: 495px) {
  .dev {
    margin-right: 5vw;
    align-self: flex-end;
  }
}
