/* projects section */

.main-projects {
  display: flex;
  flex-direction: column;
}

.projects-title {
  height: 7.5rem;
  text-align: center;
  color: #ffffff;
  font-size: clamp(3.9rem, 7vw, 5rem);
  font-weight: 600;
}
.projects-container {
  height: calc(100% - 7.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-content {
  height: 50%;
  padding: 0 2rem;
  display: flex;
  gap: 4rem;
  align-items: center;
}
.project-content img {
  width: clamp(10rem, 20vw, 30rem);
  border-radius: 5px;
}
.project-content a {
  max-width: 700px;
  font-size: 1.75rem;
  text-decoration: none;
  color: #dfdfdf;
}
.project-content a:hover {
  text-decoration: underline;
}
