/* contact section */

.contact-title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  height: 7.5rem;
  text-align: center;
  color: #ffffff;
  font-size: clamp(3.9rem, 7vw, 5rem);
  font-weight: 600;
}
.contact-p {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  text-align: center;
  margin-top: auto;
  font-size: 1.75rem;
  font-weight: 500;
}
.contactform {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  display: flex;
  padding-right: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.contactform input {
  margin: 10px 0;
  padding-left: 10px;
  width: 40%;
  height: 35px;
  min-width: 185px;
  border-radius: 7.5px;
  border: 1.5px solid #333333;
}
.contactform textarea {
  margin: 10px 0;
  padding: 7px 0 0 10px;
  width: 40%;
  min-width: 185px;
  height: 50px;
  resize: none;
  border-radius: 7.5px;
  border: 1.5px solid #333333;
}
.contact-sec-button {
  margin: 10px 0;
  width: 75px;
  background-color: #8c52ff;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 7.5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
.mycontactinfo {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  display: flex;
  padding-left: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
}
.contact-border {
  border: 1px solid #333333;
  height: 80%;
  position: absolute;
  left: 0;
}
.mycontactinfo img {
  width: 2.4rem;
  margin-right: 10px;
  position: relative;
  top: 4px;
}
.mycontactinfo a {
  margin: 7.5px 0;
  text-decoration: none;
  font-size: 2.1rem;
  color: #dfdfdf;
  font-weight: 500;
}
.mycontactinfo a:hover {
  text-decoration: underline;
}
@media (max-width: 495px) {
  .contact-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .main-contact p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .contactform {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-items: start;
    padding-left: 30%;
  }
  .mycontactinfo {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    align-items: start;
    padding-left: 30%;
  }
  .contact-border {
    height: 0;
    right: 60px;
    left: 60px;
    top: 0;
  }
}
@media (max-width: 430px) {
  .contactform {
    padding-left: 28%;
  }
  .mycontactinfo {
    padding-left: 28%;
  }
}
@media (max-width: 390px) {
  .contactform {
    padding-left: 25%;
  }
  .mycontactinfo {
    padding-left: 25%;
  }
}
@media (max-width: 350px) {
  .contactform {
    padding-left: 22.5%;
  }
  .mycontactinfo {
    padding-left: 22.5%;
  }
}
