/* place universal styles down if any conflicts */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Mono", monospace;
}

html,
body {
  font-size: 62.5%; /* 62.5% of 16px is 10px */
  height: 100vh;
  margin: 0;
}
body {
  background-color: #121212;
  color: #696969;
  display: grid;
  grid-template: 100vh / 220px 1fr;
  overflow-y: hidden;
  transition: grid-template-columns 0.3s ease;
  z-index: -1;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #333333;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #8c52ff);
  border-radius: 5px;
}

/* hover effect */
.hover-effect {
  transition: transform 0.2s;
}

.hover-effect:hover {
  transform: rotate(3deg);
}

.hover-effect:active {
  transform: scale(0.95);
}

/* dark mode */

body.light-mode {
  background-color: #f0f0f0;
}
body.light-mode .lm-nav {
  background: linear-gradient(
    to bottom,
    #b0b0b0 20%,
    #f5f5f5eb 85%,
    #f5f5f500 99%
  );
}
body.light-mode .lm-side-bar {
  background-color: #575757;
}
body.light-mode .lm-side-bar li,
body.light-mode .lm-main-text,
body.light-mode .lm-aboutMe,
body.light-mode .lm-skills-title,
body.light-mode .lm-projects-title,
body.light-mode .lm-contact-title {
  color: black;
}
body.light-mode .lm-skill-con-title,
body.light-mode .lm-skill-logos h4,
body.light-mode .lm-mycontactinfo a,
body.light-mode .lm-project-content a {
  color: #202020;
}

@media (max-width: 750px) {
  html {
    font-size: 50%;
  }
  body {
    grid-template: 100vh / 0 1fr;
  }
}

/* Some specific settings only for touch devices */

@media (hover: none) and (pointer: coarse) {
  main {
    scroll-snap-type: none;
    scrollbar-width: thin;
  }

  .hover-effect:hover {
    transform: none;
  }

  /* hiding web scrollbar  */

  ::-webkit-scrollbar {
    display: none;
  }
}
