/* nav bar */

.nav-bar {
  position: fixed;
  top: 0;
  right: 10px;
  left: 220px;
  height: 60px;
  background: linear-gradient(
    to bottom,
    #000000 15%,
    #121212eb 85%,
    #12121200 100%
  );
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 5;
}
.profile-icon {
  border: none;
  height: 42.5px;
  width: 42.5px;
  border-radius: 50%;
  margin-right: 20px;
  background-image: url("/profiles/profileicon.jpg");
  background-size: cover;
  cursor: pointer;
}

/* to display profile pic */

.pfp {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #22222299, #000000ee);
  z-index: 10;
  display: none;
}
.pfp-opened {
  padding-bottom: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.pfp p {
  font-size: 2.15rem;
  padding: 0 1rem;
  margin: 1.5rem;
  color: black;
  background-color: #ffffff66;
}
.pfp img {
  max-width: 80%;
  max-height: 80%;
  height: auto;
  border-radius: 50%;
}

/* theme toggle */

.theme-toggle {
  height: 32.5px;
  width: 32.5px;
  border: none;
  background: transparent;
  margin-right: 40px;
  cursor: pointer;
  background-image: url("/sun.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.2s ease;
  animation: spin 1.5s ease-in-out infinite alternate;
}
.moon-toggle {
  height: 27px;
  width: 27px;
  background-image: url("/moon.svg");
}
@keyframes spin {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@media (max-width: 750px) {
  .nav-bar {
    left: 0;
  }
}

@media (hover: none) and (pointer: coarse) {
  .nav-bar {
    right: 0;
  }
}
